In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
low_memory=False
%matplotlib notebook

In [2]:
df = pd.read_csv('microdados_enem_por_escola\\dados\\MICRODADOS_ENEM_ESCOLA.csv',
                 delimiter=';',
                 encoding='iso-8859-1',
                 usecols=["NU_ANO", "CO_UF_ESCOLA", "SG_UF_ESCOLA", "NO_MUNICIPIO_ESCOLA", "NO_ESCOLA_EDUCACENSO", "TP_DEPENDENCIA_ADM_ESCOLA", "TP_LOCALIZACAO_ESCOLA", "NU_MATRICULAS", "NU_PARTICIPANTES_NEC_ESP", "NU_PARTICIPANTES", "NU_TAXA_PARTICIPACAO", "NU_MEDIA_CN", "NU_MEDIA_CH", "NU_MEDIA_LP", "NU_MEDIA_MT", "NU_MEDIA_RED", "NU_MEDIA_OBJ", "NU_MEDIA_TOT", "NU_TAXA_APROVACAO", "NU_TAXA_REPROVACAO", "NU_TAXA_ABANDONO", "PORTE_ESCOLA"])

In [3]:
df.describe()

,NU_ANO,CO_UF_ESCOLA,TP_DEPENDENCIA_ADM_ESCOLA,TP_LOCALIZACAO_ESCOLA,NU_MATRICULAS,NU_PARTICIPANTES_NEC_ESP,NU_PARTICIPANTES,NU_TAXA_PARTICIPACAO,NU_MEDIA_CN,NU_MEDIA_CH,NU_MEDIA_LP,NU_MEDIA_MT,NU_MEDIA_RED,NU_MEDIA_OBJ,NU_MEDIA_TOT,NU_TAXA_APROVACAO,NU_TAXA_REPROVACAO,NU_TAXA_ABANDONO
count,172305.000000,172305.000000,172305.000000,172305.000000,172305.000000,45355.000000,172305.000000,104687.000000,104687.000000,104687.000000,104687.000000,104687.000000,123451.000000,19144.000000,48474.000000,155226.000000,155226.000000,155226.000000
mean,2009.805659,33.121703,2.624201,1.034642,106.115609,0.347746,55.114878,64.443924,490.912972,531.750703,509.955970,512.976072,479.769969,40.379749,46.894043,82.698234,9.927615,7.374151
std,3.154137,9.075423,0.937417,0.182872,104.190568,1.019838,56.411082,23.221287,51.818260,55.280886,48.105396,73.124845,194.622638,9.883955,8.741270,13.280532,8.407889,9.049976
min,2005.000000,11.000000,1.000000,1.000000,0.000000,0.000000,10.000000,2.000000,324.850000,357.870000,319.260000,357.980000,29.380000,17.310000,16.010000,0.000000,0.000000,0.000000
25%,2007.000000,28.000000,2.000000,1.000000,37.000000,0.000000,20.000000,51.350000,453.630000,492.420000,475.640000,458.560000,462.640000,33.490000,40.680000,73.900000,3.600000,0.000000
50%,2010.000000,33.000000,2.000000,1.000000,73.000000,0.000000,36.000000,65.910000,478.000000,527.790000,504.870000,494.300000,540.250000,37.650000,45.280000,85.000000,7.900000,3.800000
75%,2013.000000,35.000000,4.000000,1.000000,139.000000,0.000000,68.000000,83.720000,521.210000,567.950000,542.930000,554.610000,598.500000,44.200000,51.700000,93.900000,14.100000,12.000000
max,2015.000000,53.000000,4.000000,2.000000,2572.000000,29.000000,1190.000000,100.000000,755.160000,758.040000,712.350000,873.650000,930.000000,82.960000,82.970000,100.000000,100.000000,100.000000

In [4]:
df.head(n=10)

,NU_ANO,CO_UF_ESCOLA,SG_UF_ESCOLA,NO_MUNICIPIO_ESCOLA,NO_ESCOLA_EDUCACENSO,TP_DEPENDENCIA_ADM_ESCOLA,TP_LOCALIZACAO_ESCOLA,NU_MATRICULAS,NU_PARTICIPANTES_NEC_ESP,NU_PARTICIPANTES,...,NU_MEDIA_CH,NU_MEDIA_LP,NU_MEDIA_MT,NU_MEDIA_RED,NU_MEDIA_OBJ,NU_MEDIA_TOT,NU_TAXA_APROVACAO,NU_TAXA_REPROVACAO,NU_TAXA_ABANDONO,PORTE_ESCOLA
0,2007,11,RO,Porto Velho,CENTRO DE ENSINO CLASSE A,4,1,144,NaN,140,...,NaN,NaN,NaN,NaN,NaN,69.03,91.9,8.1,0.0,Maior que 90 alunos
1,2006,11,RO,Porto Velho,CENTRO DE ENSINO CLASSE A,4,1,184,NaN,139,...,NaN,NaN,NaN,NaN,NaN,57.82,NaN,NaN,NaN,Maior que 90 alunos
2,2005,11,RO,Porto Velho,CENTRO DE ENSINO CLASSE A,4,1,220,NaN,145,...,NaN,NaN,NaN,NaN,NaN,64.83,86.5,12.4,1.1,Maior que 90 alunos
3,2008,11,RO,Porto Velho,CENTRO DE ENSINO CLASSE A,4,1,186,NaN,171,...,NaN,NaN,NaN,72.16,60.02,NaN,90.3,9.7,0.0,Maior que 90 alunos
4,2007,11,RO,Porto Velho,CENTRO EDUCACIONAL MOJUCA,4,1,19,NaN,12,...,NaN,NaN,NaN,NaN,NaN,58.84,74.2,21.0,4.8,De 1 a 30 alunos
5,2008,11,RO,Porto Velho,CENTRO EDUCACIONAL MOJUCA,4,1,33,NaN,13,...,NaN,NaN,NaN,59.81,42.49,NaN,79.1,17.9,3.0,De 31 a 60 alunos
6,2005,11,RO,Porto Velho,CENTRO EDUCACIONAL MOJUCA,4,1,25,NaN,10,...,NaN,NaN,NaN,NaN,NaN,35.44,69.3,25.0,5.7,De 1 a 30 alunos
7,2005,11,RO,Porto Velho,INTERATIVO CURSOS E COLEGIO,4,1,87,NaN,29,...,NaN,NaN,NaN,NaN,NaN,48.46,86.5,13.5,0.0,De 61 a 90 alunos
8,2006,11,RO,Porto Velho,INTERATIVO CURSOS E COLEGIO,4,1,82,NaN,32,...,NaN,NaN,NaN,NaN,NaN,43.73,NaN,NaN,NaN,De 61 a 90 alunos
9,2008,11,RO,Porto Velho,INTERAÇÃO - CURSOS E COLÉGIO,4,1,31,NaN,11,...,NaN,NaN,NaN,59.55,45.60,NaN,90.8,9.2,0.0,De 31 a 60 alunos

In [5]:
df.tail()

,NU_ANO,CO_UF_ESCOLA,SG_UF_ESCOLA,NO_MUNICIPIO_ESCOLA,NO_ESCOLA_EDUCACENSO,TP_DEPENDENCIA_ADM_ESCOLA,TP_LOCALIZACAO_ESCOLA,NU_MATRICULAS,NU_PARTICIPANTES_NEC_ESP,NU_PARTICIPANTES,...,NU_MEDIA_CH,NU_MEDIA_LP,NU_MEDIA_MT,NU_MEDIA_RED,NU_MEDIA_OBJ,NU_MEDIA_TOT,NU_TAXA_APROVACAO,NU_TAXA_REPROVACAO,NU_TAXA_ABANDONO,PORTE_ESCOLA
172300,2013,53,DF,Brasília,CED 310 DE SANTA MARIA,2,1,213,2.0,147,...,496.43,477.62,483.17,503.86,NaN,NaN,83.1,9.1,7.8,Maior que 90 alunos
172301,2014,53,DF,Brasília,CED 310 DE SANTA MARIA,2,1,138,2.0,100,...,542.91,500.61,453.76,470.20,NaN,NaN,81.2,17.5,1.3,Maior que 90 alunos
172302,2015,53,DF,Brasília,CED 310 DE SANTA MARIA,2,1,198,8.0,152,...,540.94,497.75,428.90,517.24,NaN,NaN,78.9,10.1,11.0,Maior que 90 alunos
172303,2014,53,DF,Brasília,COL IMPACTO,4,1,12,0.0,10,...,560.65,546.61,513.08,482.00,NaN,NaN,91.4,8.6,0.0,De 1 a 30 alunos
172304,2015,53,DF,Brasília,COL IMPACTO,4,1,28,0.0,20,...,585.70,550.83,464.84,578.00,NaN,NaN,95.0,5.0,0.0,De 1 a 30 alunos

In [6]:
df["SG_UF_ESCOLA"].unique()

array(['RO', 'AC', 'AM', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE', 'RN',
       'PB', 'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC',
       'RS', 'MS', 'MT', 'GO', 'DF'], dtype=object)

In [7]:
df["SG_UF_ESCOLA"].value_counts()

SP    40264
MG    20004
RJ    13452
RS    11151
PR    10696
BA     8780
PE     7526
CE     7215
SC     6527
GO     6107
MA     3993
PA     3938
ES     3813
PI     3596
PB     3345
MT     3296
MS     3134
RN     3049
AM     2238
AL     1879
TO     1855
SE     1710
RO     1680
DF     1581
AC      564
AP      544
RR      368
Name: SG_UF_ESCOLA, dtype: int64

In [8]:
df["SG_UF_ESCOLA"].value_counts(normalize = True)

SP    0.233679
MG    0.116096
RJ    0.078071
RS    0.064717
PR    0.062076
BA    0.050956
PE    0.043678
CE    0.041873
SC    0.037881
GO    0.035443
MA    0.023174
PA    0.022855
ES    0.022129
PI    0.020870
PB    0.019413
MT    0.019129
MS    0.018189
RN    0.017695
AM    0.012989
AL    0.010905
TO    0.010766
SE    0.009924
RO    0.009750
DF    0.009176
AC    0.003273
AP    0.003157
RR    0.002136
Name: SG_UF_ESCOLA, dtype: float64

In [9]:
df.sample(3).sort_values(by= "NU_TAXA_APROVACAO")

,NU_ANO,CO_UF_ESCOLA,SG_UF_ESCOLA,NO_MUNICIPIO_ESCOLA,NO_ESCOLA_EDUCACENSO,TP_DEPENDENCIA_ADM_ESCOLA,TP_LOCALIZACAO_ESCOLA,NU_MATRICULAS,NU_PARTICIPANTES_NEC_ESP,NU_PARTICIPANTES,...,NU_MEDIA_CH,NU_MEDIA_LP,NU_MEDIA_MT,NU_MEDIA_RED,NU_MEDIA_OBJ,NU_MEDIA_TOT,NU_TAXA_APROVACAO,NU_TAXA_REPROVACAO,NU_TAXA_ABANDONO,PORTE_ESCOLA
162858,2011,43,RS,Arroio do Tigre,ESC EST ENS MED ARROIO DO TIGRE,2,1,110,NaN,79,...,453.36,498.54,506.15,531.14,NaN,NaN,87.4,5.0,7.6,Maior que 90 alunos
83559,2010,23,CE,Fortaleza,MASTER SS LTDA CENTRO EDUCACIONAL,4,1,63,NaN,61,...,604.70,574.73,598.54,673.33,NaN,NaN,95.5,4.5,0.0,De 61 a 90 alunos
35591,2006,35,SP,São Paulo,JOAQUIM ADOLFO DE ARAUJO PROF,2,1,223,NaN,107,...,NaN,NaN,NaN,NaN,NaN,41.08,NaN,NaN,NaN,Maior que 90 alunos

In [10]:
df.count()

NU_ANO                       172305
CO_UF_ESCOLA                 172305
SG_UF_ESCOLA                 172305
NO_MUNICIPIO_ESCOLA          172305
NO_ESCOLA_EDUCACENSO         172305
TP_DEPENDENCIA_ADM_ESCOLA    172305
TP_LOCALIZACAO_ESCOLA        172305
NU_MATRICULAS                172305
NU_PARTICIPANTES_NEC_ESP      45355
NU_PARTICIPANTES             172305
NU_TAXA_PARTICIPACAO         104687
NU_MEDIA_CN                  104687
NU_MEDIA_CH                  104687
NU_MEDIA_LP                  104687
NU_MEDIA_MT                  104687
NU_MEDIA_RED                 123451
NU_MEDIA_OBJ                  19144
NU_MEDIA_TOT                  48474
NU_TAXA_APROVACAO            155226
NU_TAXA_REPROVACAO           155226
NU_TAXA_ABANDONO             155226
PORTE_ESCOLA                 172305
dtype: int64

In [5]:
plt.style.use('seaborn-darkgrid')

In [8]:
df.query('SG_UF_ESCOLA == "SP"')['NU_MEDIA_CN'].mean()

507.21080203443046

In [15]:
df.query('SG_UF_ESCOLA == "RJ"')['NU_MEDIA_RED'].mean()

510.4264779104149

In [ ]:
plt.bar(df.SG_UF_ESCOLA, df.NU_ANO)

In [ ]:
plt.plot(df.NU_ANO, df.query('SG_UF_ESCOLA == "RJ"')['NU_MEDIA_RED'].mean(), linestyle='--', color='r', marker='s', 
         linewidth=3.0)